{
    "extends": ["airbnb-base"],
    "rules": {
      "no-console": "off",
      "global-require": "off",
      "no-plusplus": "off",
      "no-param-reassign": "warn",
      "comma-dangle": "off",
      "linebreak-style": "off",
      "implicit-arrow-linebreak": "off",
      "quotes": "off"
    }
}